#graph-annotation .modebar {
    left: 50%;
    transform: translateX(-28px); /* width of a single button*/
}

body, html {
    height: 100%;
}

#nav-annotation.active{
    background-color: var(--bs-purple);
}

#nav-evaluation.active{
    background-color: var(--bs-orange);
}

#nav-results.active{
    background-color: var(--bs-green);
}